<div class="row">
	<!-- PERSON CHGATTING -->
	<div class="col s12">
		<ul class="collection profile">
			<li class="collection-item avatar">
				<i class="fas fa-male circle"></i>
				<span class="title"><%= to.name %></span>
				<p>Esperando por tí</p>
			</li>
		</ul>
	</div>

	<!-- CHATS -->
	<div class="col s12">
		<ul id="chat" class="chat">
			<% chats.forEach(function(item) { %>
				<li class="<%= item.position %>">
					<div class="head">
						<span class="grey-text text-darken-4"><%= item.name %></span>
						<span class="date"><%= moment(item.inserted).format('MMM D, YYYY h:mm A') %></span>
					</div>
					<span class="text"><%= item.message %></span>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<!-- MESSAGE IF NO CHATS -->
<% if(chats.length <= 0) { %>
	<div id="msg" class="row">
		<div class="col s12 center">
			<p class="middle-center grey-text">No hay ninguna conversación entre ustedes. Escriba el primer mensaje.</p>
		</div>
	</div>
<% } %>

<!-- FLOATING BUTTON -->
<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.send({command: 'TRABAJOS CHATLIST'});">
		<i class="material-icons">arrow_back</i>
	</a>
	<a href="#chatModal" class="btn-floating btn-large green waves-effect waves-light modal-trigger">
		<i class="large material-icons">message</i>
	</a>
</div>

<!-- MODAL CHAT -->
<div id="chatModal" class="modal bottom-sheet fullscreen">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" to="<%= to.id %>" name="<%= from.name %>" maxlength="200" class="remainder materialize-textarea"></textarea>
			<label for="message">Escriba su comentario (<span>0</span>/200)</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="chat()" class="modal-close waves-effect waves-green btn-flat green-text">Enviar</a>
	</div>
</div>
