<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Ofertas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'TRABAJOS PEOPLE'})">Personal</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'TRABAJOS CURRICULUM'})">Currículum</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<!-- FILTERS -->
	<% if(filters.length > 0) { %>
		<div class="col s12">
			<% filters.forEach(function(item) { %>
				<% if (item+'' != '' && item+'' != 'null') { %>
				<span class="chip tiny"><%= item %></span>
				<% } %>
			<% }) %>
		</div>
	<% } %>

	<!-- RESULTS -->
	<div class="col s12">
		<% for(var i in offers) {var item = offers[i]; %>
			<div class="card">
				<div class="card-person grey lighten-5">
					<span class="chip tiny clear"><i class="fas fa-tag"></i> <%= categories[item.category] %></span>
					<span class="chip tiny clear right"><i class="fas fa-calendar"></i> <%= moment(item.inserted).format('D [de] MMMM [del] YYYY') %></span>
				</div>
				<div class="card-content">
					<span><%= item.title %></span>
				</div>
				<div class="card-action grey lighten-4">
					<a class="green-text" href="#!" onclick="apretaste.send({command:'TRABAJOS JOB', data: {id: '<%= item.id %>' }})">Ver oferta</a>
				</div>
			</div>
		<% } %>
	</div>
</div>

<!-- PAGINATION -->
<% if(pages > 1) { %>
	<div class="row">
		<div class="col s12 center-align">
			<ul class="pagination">
				<% if (page > 1) { %>
					<li class="waves-effect"><a href="apretaste.send({command:'TRABAJOS OFFERS',data: {page: <%= page - 1 %>}});"><i class="material-icons">chevron_left</i></a></li>
				<% } %>
				<li class="waves-effect"><%= page %> / <%= pages %></li>
				<% if (page < pages) { %>
					<li class="waves-effect"><a href="apretaste.send({command:'TRABAJOS OFFERS',data: {page: <%= page + 1 %>}});"><i class="material-icons">chevron_right</i></a></li>
				<% } %>
			</ul>
		</div>
	</div>
<% } %>

<div class="bottom-space"></div>

<!-- BUTTONS -->
<div class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey second" onclick="apretaste.send({command:'TRABAJOS NEWJOB'})">
		<i class="material-icons">add</i>
	</a>
	<a href="#searchModal" class="btn-floating btn-large waves-effect waves-light green modal-trigger">
		<i class="material-icons">search</i>
	</a>
</div>

<!-- MODAL SEARCH -->
<div id="searchModal" class="modal bottom-sheet fullscreen">
	<form class="ap-form" action="TRABAJOS OFFERS">
		<div class="modal-content">
			<!-- title -->
			<div class="input-field">
				<input id="title" value="" class="" name="title"/>
				<label for="title">Buscar por título</label>
			</div>

			<!-- categories -->
			<div class="input-field">
				<select id="category" name="category" class="materialize-select">
					<option value="">Todas</option>
					<% for(var item in categories) { %>
						<option value="<%= item %>"><%= categories[item] %></option>
					<% } %>
					<label for="category">Escoja una categoría</label>
				</select>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
			<button type = "submit" class="modal-close waves-effect green-text btn-flat">Buscar</button>
		</div>
	</form>
</div>
