<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'EMPLEOS OFFERS'})">Anuncios</a></li>
			<li class="tab"><a href="#" class="active">Personal</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'EMPLEOS CURRICULUM'})">Currículum</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<!-- FILTERS -->
	<% if(filters) { %>
		<div class="col s12">
			<span class="chip tiny"><%- typeof categories[filters] === 'undefined' ? 'Todas las categor&iacute;as' : categories[filters]%></span>
		</div>
	<% } %>

	<!-- PEOPLE -->
	<div class="col s12">
		<ul class="collection one-line">
			<% workers.forEach(function(item) { %>
				<%
					var cats = []; 
					item.categories.forEach(function(item) {
						cats.push(categories[item]);
					})
				%>
				<li class="collection-item avatar">
					<i class="fas fa-male circle"></i>
					<span class="title"><%= item.name %></span>
					<p class="blue-grey-text"><%=  cats.join(', ') %></p>
					<a href="#!" class="secondary-content green-text" onclick="apretaste.send({command:'EMPLEOS PROFILE', data:{id: <%= item.id %>}})"><i class="fas fa-address-card"></i></a>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<!-- PAGINATION -->
<% if(pages > 1) { %>
	<div class="row">
		<div class="col s12 center-align">
			<ul class="pagination">
				<% if (page > 1) { %>
					<li class="waves-effect"><a href="apretaste.send({command:'EMPLEOS PEOPLE',data: {page: <%= page - 1 %>}});"><i class="material-icons">chevron_left</i></a></li>
				<% } %>
				<li class="waves-effect"><%= page %> / <%= pages %></li>
				<% if (page < pages) { %>
					<li class="waves-effect"><a href="apretaste.send({command:'EMPLEOS PEOPLE',data: {page: <%= page + 1 %>}});"><i class="material-icons">chevron_right</i></a></li>
				<% } %>
			</ul>
		</div>
	</div>
<% } %>

<div class="bottom-space"></div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a href="#searchModal" class="btn-floating btn-large waves-effect waves-light green modal-trigger">
		<i class="material-icons">search</i>
	</a>
</div>

<!-- MODAL SEARCH -->
<div id="searchModal" class="modal bottom-sheet fullscreen">
	<form class="ap-form" action="EMPLEOS PEOPLE">
		<div class="modal-content">
			<div class="input-field">
				<select id="category" name="category" class="materialize-select">
					<option value="">Todas</option>
					<% for(var item in categories) { %>
						<option value="<%= item %>"><%= categories[item] %></option>
					<% } %>
					<label for="category">Escoja una categoría</label>
				</select>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
			<button type="submit" class="modal-close waves-effect green-text btn-flat">Buscar</button>
		</div>
	</form>
</div>
