<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'TRABAJOS OFFERS'})">Ofertas</a></li>
			<li class="tab"><a href="#" class="active">Personal</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'TRABAJOS CURRICULUM'})">CV</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<!-- FILTERS -->
	<% if(filters) { %>
		<div class="col s12">
			<span class="chip tiny"><%= categories[filters] %></span>
		</div>
	<% } %>

	<!-- PEOPLE -->
	<div class="col s12">
		<ul class="collection one-line">
			<% workers.forEach(function(item) { %>
				<%
					var cats = []; 
					item.categories.forEach(function(item) {
						cats.push(categories[item]);
					})
				%>
				<li class="collection-item avatar">
					<i class="fas fa-male circle"></i>
					<span class="title"><%= item.name %></span>
					<p class="blue-grey-text"><%=  cats.join(', ') %></p>
					<a href="#!" class="secondary-content green-text" onclick="apretaste.send({command:'TRABAJOS PROFILE'})"><i class="fas fa-arrow-right"></i></a>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<!-- PAGINATION -->
<% if(pages > 1) { %>
	<div class="row">
		<div class="col s12 center-align">
			<ul class="pagination">
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				<li class="waves-effect"><%= page %> / <%= pages %></li>
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
	</div>
<% } %>

<div class="bottom-space"></div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a href="#searchModal" class="btn-floating btn-large waves-effect waves-light green modal-trigger">
		<i class="material-icons">search</i>
	</a>
</div>

<!-- MODAL SEARCH -->
<div id="searchModal" class="modal bottom-sheet fullscreen">
	<div class="modal-content">
		<div class="input-field">
			<select id="category" class="materialize-select">
				<option value="">Todas</option>
				<% Object.keys(categories).forEach(function(item) { %>
					<option value="<%= item %>"><%= categories[item] %></option>
				<% }) %>
				<label for="category">Escoja una categoría</label>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="apretaste.send({command:'TODO'})" class="modal-close waves-effect green-text btn-flat">Buscar</a>
	</div>
</div>
